.hidden{
    display: none;
}
.sizedBox{
    display: inline-block;
}
.booked{
    background-color: #4848ff;
    color: white;
    border-radius: 50%;
}
.selected{
    background-color:blue;
    color:white;
    border-radius:50%;
}
ul[class ^= "errors"]{
    text-align: left;
    color: red;
    padding: 1.5rem;
    text-indent: .3rem;
    list-style: none;
    & > *{
        text-align: center;
    }
}
.paddingSmallVertical{
    padding: 1rem auto;
}
.marginSmallVertical{
    margin: 1rem auto;
}
.margin_bottom--medium{
    margin-bottom: 1.5rem;
}